body {
    background-color: black;
}

li{
  color: yellow;
}

li a {
    color: green;
}

h1 {
  color: white;
}

.footer-links{
  display: flex;
	justify-content: center;
}

.footer-links a{
  color: orange;
}
