body {
    background-color: black;
}

a {
    color: green;
}

h1 {
  color: white;
}

#title{
  display: flex;
	justify-content: center;
  color: white;
}

#intro{
  display: flex;
	justify-content: center;
  color: white;
}
